<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mettre en ligne</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
    <script src="{{ asset ('js/modernizr.custom.js') }}"></script>
    <script src="{{ asset ('js/classie.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/component.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/default.css') }}">



</head>
<body class="cbp-spmenu-push">
<div class="modals">
    <div class="modals__content">
        <div class="dialog dialog--register">
            <h1 class="dialog__header">Inscription</h1>
            <form class="dialog__body register">
                <div class="login__field">
                    <div class="login__field__icon login__field__icon--username">
                        <svg viewBox="0 0 512 512"><use xlink:href="#user-icon"></svg>
                    </div>
                    <input class="login__field__input" type="text" placeholder="E-mail" />
                </div>
                <div class="login__field">
                    <div class="login__field__icon login__field__icon--password">
                        <svg viewBox="0 0 512 512"><use xlink:href="#key-icon"></svg>
                    </div>
                    <input class="login__field__input" type="password" placeholder="Mot de passe" />
                </div>
                <button type="submit" class="dialog__register">S'inscrire</button>
            </form>
        </div>
    </div>
</div>


<div class="modal">
    <div class="modal__content">
        <div class="dialog dialog--login">
            <h1 class="dialog__header">Connexion</h1>

            <form class="dialog__body login">
                <div class="login__field">
                    <div class="login__field__icon login__field__icon--username">
                        <svg viewBox="0 0 512 512"><use xlink:href="#user-icon"></svg>
                    </div>
                    <input class="login__field__input" type="text" placeholder="E-mail" />
                </div>
                <div class="login__field">
                    <div class="login__field__icon login__field__icon--password">
                        <svg viewBox="0 0 512 512"><use xlink:href="#key-icon"></svg>
                    </div>
                    <input class="login__field__input" type="password" placeholder="Mot de passe" />
                </div>
                <button type="submit" class="dialog__action">Se connecter</button>
            </form>
        </div>
    </div>
</div>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="512px" height="512px" xml:space="preserve" class="icon">
<path id="user-icon" d="M377.055,170.75c0,66.275-53.726,120-120,120s-120-53.725-120-120c0-66.273,53.726-120,120-120
    S377.055,104.477,377.055,170.75z M356.101,296.41c-27.968,22.084-62.633,34.34-99.046,34.34c-36.835,0-71.839-12.543-99.934-35.051
    C83.067,322.875,50,417.877,50,461.25h412C462,418.25,428.678,323.926,356.101,296.41z"/>
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="512px" height="512px" xml:space="preserve" class="icon">
<path id="key-icon" d="M286.53,325.487l-45.314,45.313h-43.874l0.001,43.873l-45.745-0.002v41.345H50v-70.458l145.737-145.737
    C212.174,278.996,244.714,310.706,286.53,325.487z M425.646,92.338c48.473,48.474,48.471,127.064-0.001,175.536
    c-48.475,48.476-127.062,48.476-175.537,0.001c-48.473-48.472-48.475-127.062,0-175.537
    C298.58,43.865,377.173,43.865,425.646,92.338z M400.732,117.165c-12.024-12.021-31.517-12.022-43.538,0
    c-12.022,12.023-12.022,31.516,0,43.538c12.021,12.022,31.513,12.021,43.536-0.001C412.754,148.679,412.752,129.187,400.732,117.165
    z"/>
</svg>


<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    
    <h2 style="color:white; text-align:center; margin-top:20px; margin-bottom:70px;">Mewpipe</h2>

    {% if app.user %}
        <a href="{{ path('video_stream_homepage') }}">Accueil</a>
        <a href="{{ path('upload_video') }}">Partager une vidéo</a>
        <a href="{{ path('profile_page') }}">Mon profil</a>
        <a href="{{ path('myVideo_page') }}">Mes vidéos</a>
    {% else %}
        <a href="{{ path('video_stream_homepage') }}">Accueil</a>
    {% endif %}

</nav>

<div class="container">
    <header class="clearfix">

        <div id="header-block">
            <button id="showLeftPush">
                <i class="fa fa-reorder floatRight cursorPointer"></i>
            </button>

            <form>
                <input type="text" placeholder="Search on Mewpipe" name="" id="search-header"/>
            </form>

            {#<a href="{{ path('registration_user') }}">#}
            {#<span id="toggle-register">Register</span>#}
            {#</a>#}

            {% if app.user %}
                <a href="../app_dev.php/logout">
                    <h6>Se déconnecter</h6>
                </a>
                <h5>Bienvenue, </h5>
            {% else %}
                <div class="dialog dialog--welcome">
                    <button id="login-pop" class="dialog__action">Connexion</button>
                </div>

                <div class="dialog dialog--register">
                    <button id="inscription-pop" class="dialog__register">Inscription</button>
                </div>


            {% endif %}




        </div>
    </header>
    {#    {% set videoCount = 0  %}
        {% for video in allVideos %}
                    <p href="../app_dev.php/view/{{ video.getId }}" >{{ video.getVideoName }}</p>
                    <span href="../app_dev.php/view/{{ video.getId }}" >{{ video.getVideoDescription }}</span>

        <h1>{{ videoCount  }}</h1>#}

    <div id="block-content">


        <form action="{{ path('upload_video') }}" method="post" {{ form_enctype(form) }} id="form-upload">
{#            <h2>Uploadez votre vidéo</h2>

            <input name="name" type="text" placeholder="Nom" /> <br/>
            <input name="description" type="text" placeholder="Description" /><br/>
            <input name="tag" placeholder="Catégorie" type="text" /><br/>
            <input name="date" type="date" readonly="true" placeholder=""/><br/>
            <label>
                <select>
                    <option>Public</option>
                    <option>PrivateLink</option>
                    <option>Private</option>
                </select>
            </label>
            <br/>
            <input type="file" placeholder="" /><br/>
            <input type="submit" value="Envoyez" />#}

            {{ form_widget(form) }}
            <input type="submit" value="Send" />
        </form>

        <div style="border: solid 1px #ccc; padding: 10px; text-align: center; display: none;">
            <video id="video" width="320" controls="true">
                <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"><!-- WebKit -->
                Your browser does not support HTML5 video tag. Please download FireFox 3.5 or higher.
            </video><br/>
            <button onclick="shoot()" style="width: 64px;border: solid 2px #ccc;">Capture</button><br/>
            <div id="output" style="display: inline-block; top: 4px; position: relative ;border: dotted 1px #ccc; padding: 2px;"></div>
        </div>


        <footer>
            <p>Copyright © 2015 Anis - Supinfo</p>

        </footer>

    </div>
</div>
{#{% set videoCount = videoCount+1  %}#}
{#{% endfor %}#}

<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>


<script>
    $('#toggle-login').click(function(){
        $('#login').slideToggle('fast');
        $('#registrati').hide();
    });
</script>

<script>
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
            menuRight = document.getElementById( 'cbp-spmenu-s2' ),
            menuTop = document.getElementById( 'cbp-spmenu-s3' ),
            menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
            showLeft = document.getElementById( 'showLeft' ),
            showRight = document.getElementById( 'showRight' ),
            showTop = document.getElementById( 'showTop' ),
            showBottom = document.getElementById( 'showBottom' ),
            showLeftPush = document.getElementById( 'showLeftPush' ),
            showRightPush = document.getElementById( 'showRightPush' ),
            body = document.body;

    showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
    };


</script>
</body>
</html>
